@use  "../global" as global;

.l-access {
    margin-top: 30px;
  padding: 60px 0;
  background-size: cover;
  background-position: center;
  @include global.mq('pc') {
    background-image: url(../../../../public/assets/img/bg.png);
  }
  @include global.mq('tab') {
    background-image: url(../../../../public/assets/img/bg@2x.png);

  }
  @include global.mq('sp') {
    background-image: url(../../../../public/assets/img/bg@2x.png);

  }
  @include global.mq('sp-down') {
    background-image: url(../../../../public/assets/img/bg@2x.png);

  }

}

.l-access__inner {
    @include global.mq('pc') {
        margin-left: auto;
        margin-right: auto;
        max-width: 1180px;
      }
  
      @include global.mq('tab') {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
      @include global.mq('sp') {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
      @include global.mq('sp-down') {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
}